@model List<CategoryVM>
    <li><a data-toggle="tab" href="#" onclick="getclothinglistall()">AllShops</a></li>
@foreach (CategoryVM item in Model)
{
    <li><a data-toggle="tab" href="#" onclick="GetCategory(@item.CategoryID)"> @item.CategoryName</a></li>
    
}