
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*---- İmage area-- *@
<div class="contact-img-area" style="background-size:cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">About</h2>
                    <p><a href="#">About</a> About us</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*---- İmage area-- *@
<!-- about content section start -->
<section class="main_shop_area">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="about-us-all">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-optima-img">
                            <img class="primary-image" src="~/img/About.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-optima-text">
                            <h1>
                                About
                                <strong>Peach</strong>
                            </h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel,</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                            <ul>
                                <li>We love products that work perfectly and look beautiful.</li>
                                <li>We create base on a deeply analysis of your project.</li>
                                <li>We are create design with really high quality standards.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about  content section end -->
