
@{
    ViewData["Title"] = "Index";
}

<!-- slider-section-start -->
<section class="slider-main-area">
    <div class="main-slider an-si">
        <div class="bend niceties preview-2 hm-ver-1">
            <div id="ensign-nivoslider-2" class="slides">
                <img src="~/img/slider/Slider2.jpg" alt="" title="#slider-direction-3" />
                <img src="~/img/slider/Slider3.jpg" alt="" title="#slider-direction-1" />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-3" class="t-cn slider-direction Builder">
                <div class="slide-all">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Men’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction Builder">
                <div class="slide-all slide2">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Women’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider section end -->
<!-- new-products section start -->
<section class="featured-products single-products section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h3>FEATURED PRODUCTS</h3>
                    <div class="section-icon">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="product-tab nav nav-tabs">

                    <ul id="categorylist">
                        @*--categoryler burada*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="row tab-content">
            
            <div id="clothinglist">

                @*Ürünler/kıyafetler*@

            </div>
        </div>
    </div>
</section>

<!-- new-products section end -->
@section scripts{
    <script>
        $(document).ready(function () {
            getclothinglistall();
            $.ajax({
                type: "GET",
                url: "http://localhost:52607/api/Category/GetCategory",
                success: function (response) {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:52719/Home/GetCategory",
                        contentType: "application/json; charset=utf-8 ",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#categorylist").html(data);
                        }
                    })
                }
            })
        })
        function getclothinglistall() {

            $.ajax({
                type: "GET",
                url: "http://localhost:52607/api/Clothing/GetClothing",
                success: function (response) {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:52719/Home/GetClothing",
                        contentType: "application/json; charset=utf-8 ",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#clothinglist").html(data);
                        }
                    })
                }
            })



        }
        function GetCategory(cid) {
            $.ajax({
                type: "GET",
                url: "http://localhost:52607/api/Clothing/GetClothingByCategoryID/" + cid,
                success: function (response) {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:52719/Home/GetClothing",
                        contentType: "application/json; charset=utf-8 ",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#clothinglist").html(data);
                        }
                    })
                }
            })
        }

    </script>
}
