
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@*---- İmage area-- *@
<div class="contact-img-area" style="background-size:cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">Details</h2>
                    <p><a href="#">Brand</a> Brand Details</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*---- İmage area-- *@
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 ml-auto mr-auto">
                <div id="alert">

                </div>
                <div class="table-content table-responsive">
                    <div id="brandList">
                        @* _brandList gelecek *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $.ajax({

                type: "GET",
                url: "http://localhost:52607/api/Brand/GetBrand",
                success: function (response) {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:52719/Admin/Brand/GetBrandList",
                        contentType: "application/json: charset=utf-8",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#brandList").html(data);
                        }
                    });
                }
            });


        })
        function DeleteBrand(brandid) {

            var cvp = confirm("Are you sure delete the brand ?")

            if (cvp) {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:52607/api/Brand/DeleteBrandById/" + brandid,
                    success: function (data) {
                        if (cvp) {
                            alert(data.message)
                            location.reload();

                        }
                    }
                });

            }
        }



    </script>
}